In [13]:
import pandas as pd 
import os
import copy

In [ ]:
import pandas as pd
import os

# Define the path to the folder containing the CSV files
folder_path = r"C:\Users\aadit\ESA Research\Contract Pricing"

# List all files in the directory
file_names = [
    'Contracts Pricing - December 24.csv',
    'Contracts Pricing - December 25.csv',
    'Contracts Pricing - March 25.csv',
    'Contracts Pricing - March 26.csv',
    'Contracts Pricing - May 25.csv',
    'Contracts Pricing - May 26.csv',
    'Contracts Pricing - July 24.csv',
    'Contracts Pricing - July 25.csv',
    'Contracts Pricing - September 24.csv',
    'Contracts Pricing - September 25.csv'
]

# Create an empty dictionary to store DataFrames
dataframes = {}

# Loop through each file and read it into a DataFrame
for file_name in file_names:
    file_path = os.path.join(folder_path, file_name)
    df_name = file_name.split('.')[0]  # Use the file name without extension as the DataFrame name
    dataframes[df_name] = pd.read_csv(file_path)

In [16]:
import copy
import pandas as pd
import numpy as np

dfs_list = list(dataframes.values())

for df in dfs_list:
    # Convert the 'Date' column to datetime with the correct format
    df['Date'] = pd.to_datetime(df['Date'], format="%b %d, %Y")
    
    # Replace '-' with NaN in 'Adj Close' column
    df['Adj Close'].replace('-', np.nan, inplace=True)
    
    # Replace '-' with 0 in 'Volume' column
    df['Volume'].replace('-', 0, inplace=True)
    
    # Drop rows with NaN values in 'Adj Close' column
    df.dropna(subset=['Adj Close'], inplace=True)
    nan_values = df.isna().sum()

NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64
NaN values in each column:
Date              0
Open              0
High              0
Low               0
Close             0
Adj Close         0
Volume            0
Maturity Month    0
Maturity Year     0
Maturity Date     0
dtype: int64